<div class="splash-screen">
    <div class="top-container"></div>
    <div class="bottom-container">
        <h2 class="head-two center">Sign in</h2>
        <p class="paragraph center ">Lorem ipsum dolor sit amet consectetur, adipisicing elit. Atque, a.</p>
        <form  class="form">
            <div class="form-group">
                <input type="email" name="" id="" placeholder="Email Address">
            </div>
            <div class="form-group">
                <input type="password" name="" id="" placeholder="Password">
            </div>
        </form>
        <button routerLink="/home" class="btn-primary">Log in</button>
        <a routerLink="/sign-in">I don't have an account </a>
    </div>
</div>