<div class="courser">
    <div class="top-section">
        <div class="content">
            <div class="profile">
                <img class="image" src="/assets/img1.jpg" alt="">
                <div class="settings-container">
                    <fa-icon class="settings-icon" [icon]="gear"></fa-icon>
                </div>
                

            </div>
            <div class="search-container">
                <fa-icon class="search-icon" [icon]="search"></fa-icon>
                <input type="search" name="" id="" placeholder="Looking for a course?">
               

            </div>
            
        </div>
        
    </div>
    <div class="bottom-section">
        <div class="content">
           
            <div class="heading">
                <p class="text-three">All Courses</p>
                <fa-icon class="ellipsis" [icon]="ellipsis"></fa-icon>
    
            </div>
            <div class="card" routerLink="/course-detail">
                <div class="card-info">
                    <p class="text-four">Interface Design</p>
                    <p class="text-five">UI/UX Prototyping</p>
                    <p class="text-four"><span><fa-icon class="star" [icon]="star"></fa-icon></span>4.7(2,440 ratings)</p>
                    <div class="progress">
                        <div class="progress-bar"></div>
                        <p class="progress-percentage">60%</p>
                    </div>
                </div>
                <div class="card-image">
                    <img src="/assets/img3.jpg" alt="">
                </div>
            </div>
            <div class="card" routerLink="/course-detail">
                <div class="card-info">
                    <p class="text-four">Interface Design</p>
                    <p class="text-five">UI/UX Prototyping</p>
                    <p class="text-four"><span><fa-icon class="star" [icon]="star"></fa-icon></span>4.7(2,440 ratings)</p>
                    <div class="progress">
                        <div class="progress-bar"></div>
                        <p class="progress-percentage">60%</p>
                    </div>
                </div>
                <div class="card-image">
                    <img src="/assets/img4.jpg" alt="">
                </div>
            </div>
            <div class="card" routerLink="/course-detail">
                <div class="card-info">
                    <p class="text-four">Interface Design</p>
                    <p class="text-five">UI/UX Prototyping</p>
                    <p class="text-four"><span><fa-icon class="star" [icon]="star"></fa-icon></span>4.7(2,440 ratings)</p>
                    <div class="progress">
                        <div class="progress-bar"></div>
                        <p class="progress-percentage">60%</p>
                    </div>
                </div>
                <div class="card-image">
                    <img src="/assets/img5.jpg" alt="">
                </div>
            </div>
            <div class="card" routerLink="/course-detail">
                <div class="card-info">
                    <p class="text-four">Interface Design</p>
                    <p class="text-five">UI/UX Prototyping</p>
                    <p class="text-four"><span><fa-icon class="star" [icon]="star"></fa-icon></span>4.7(2,440 ratings)</p>
                    <div class="progress">
                        <div class="progress-bar"></div>
                        <p class="progress-percentage">60%</p>
                    </div>
                </div>
                <div class="card-image">
                    <img src="/assets/img7.jpg" alt="">
                </div>
            </div>
            <div class="card" routerLink="/course-detail">
                <div class="card-info">
                    <p class="text-four">Interface Design</p>
                    <p class="text-five">UI/UX Prototyping</p>
                    <p class="text-four"><span><fa-icon class="star" [icon]="star"></fa-icon></span>4.7(2,440 ratings)</p>
                    <div class="progress">
                        <div class="progress-bar"></div>
                        <p class="progress-percentage">60%</p>
                    </div>
                </div>
                <div class="card-image">
                    <img src="/assets/img6.jpg" alt="">
                </div>
            </div>
        </div>
        </div>
       
    <div class="nav-bar"></div>
</div>
<app-menu-icons></app-menu-icons>
