<div class="course-detail">
    <div class="icons">
        <fa-icon class="arrow" [icon]="arrow" routerLink="/courses"></fa-icon>
        <fa-icon class="ellipsis" [icon]="ellipsis"></fa-icon>
    </div>
    <div class="course-image">
        <p>Start, July 4</p>
        <fa-icon class="bookmark" [icon]="bookmark"></fa-icon>
    </div>
    <p class="heading text-three">Modern Website Design</p>
    <div class="logo">
        <img src="/assets/img2.jpg" alt="">
        <p>Figma Inc</p>
    </div>
    <div class="about">
        <p class="text-five">About this course</p>
        <p class="about-text">Lorem ipsum dolor sit amet consectetur adipisicing elit. Doloremque officiis eligendi, nulla, accusamus nobis libero, molestias doloribus similique nostrum quasi veniam. Temporibus corrupti doloremque ad ipsa, sapiente id enim </p>
    </div>
    <div class="stats">
        <div class="stat">
            <p class="text-five">30+</p>
            <p class="about-text">Lessons</p>
        </div>
        <div class="stat">
            <p class="text-five">4.9</p>
            <p class="about-text">Ratings</p>
        </div>
        <div class="stat">
            <p class="text-five">5.6k</p>
            <p class="about-text">Enrolled</p>
        </div>
    </div>
    <div class="enroll" routerLink="/course">
        <p>Enroll for free</p>
    </div>
</div>
