<div class="course-video">
    <div class="content">
        <div class="icons">
            <fa-icon class="arrow" [icon]="arrow" routerLink="/courses"></fa-icon>
            <fa-icon class="ellipsis" [icon]="ellipsis"></fa-icon>
        </div>
        <div class="course-image">
            <p>Start, July 4</p>
            <fa-icon class="bookmark" [icon]="bookmark"></fa-icon>
        </div>
        <div class="logo">
            <img src="/assets/img2.jpg" alt="">
            <p>Figma Inc</p>
        </div>
        <p class="heading head-two">Modern Website Design</p>
        <p class="text-four"><span><fa-icon class="star" [icon]="star"></fa-icon></span>4h 55min 35s</p>
        <div class="weeks">
            <div class="week text-four">WEEK 1</div>
            <div class="week text-four">WEEK 2</div>
            <div class="week text-four">WEEK 3</div>
            <div class="week text-four">WEEK 4</div>
        </div>
        <div class="lessons">
            <div class="lesson-card">
                <p class="text-three">Introduction to Figma</p>
                <p class="about-text">Lorem ipsum dolor sit amet consectetur adipisicing elit. Molestias molestiae error </p>
                <div class="play-details">
                    <p class="text-four play-video"><span><fa-icon class="play" [icon] = "play"></fa-icon></span> Play Video</p>
                    <p class="text-four">1hr 18mins</p>
                </div>
            </div>
            <div class="lesson-card">
                <p class="text-three">Grid System</p>
                <p class="about-text">Lorem ipsum dolor sit amet consectetur adipisicing elit. Molestias molestiae error </p>
                <div class="play-details">
                    <p class="text-four play-video"><span><fa-icon class="play" [icon] = "play"></fa-icon></span> Play Video</p>
                    <p class="text-four">1hr 18mins</p>
                </div>
            </div>
            <div class="lesson-card">
                <p class="text-three">Introduction to Figma</p>
                <p class="about-text">Lorem ipsum dolor sit amet consectetur adipisicing elit. Molestias molestiae error </p>
                <div class="play-details">
                    <p class="text-four play-video"><span><fa-icon class="play" [icon] = "play"></fa-icon></span> Play Video</p>
                    <p class="text-four">1hr 18mins</p>
                </div>
            </div>
        </div>
        <div class="start" routerLink="/course">
            <p>Start now</p>
        </div>
    </div>
    <app-menu-icons></app-menu-icons>
</div>

